html,body{
    margin: 0px;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #D4D6DD;
}

/* to do list container */
#container{
    height: fit-content;
    margin: 20px 0;
    width: 500px;
    background-color: #F9FDFC;
}

/* Task Input Container */
#task-input-container{
    margin: 10px 5px;
    background-color: #EEEEEE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#task-input-container:hover{
    background-color: #e0e1e7;
}

#task-input{
    width: 85%;
    background-color: inherit;
    border: 0px;
    outline: none;
    height: 60px;
    font: 1.5em sans-serif;
}

#add-task{
    font-size: 30px;
}


/* TO DO LIST */
.to-do-list{
    min-height: 100px;
}

/* CSS for button container */
.button-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.up{
    border-bottom: 1px solid #D4D6DD;
}
.down{
    border-top: 1px solid #D4D6DD; 
}

/* CSS For button */
.button{
    background-color: transparent;
    outline: none;
    color: lightgray;
    border: 0px solid transparent;
    height: 100%;
}
.button:hover{
    color: black;
    cursor: pointer;
}

/* Message Box */
#message{
    height: 100px;
    font-size: 30px;
    color: grey;
    text-align: center;
}

#task-status{
    color: grey;
    margin-left: 10px;
}


.font-size-30px{
    font-size:30px;
}
/* CSS for TODO List */
#to-do-list{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
/* CSS for list item */
.list-item{
    margin: 0px;
    padding: 5px 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* CSS for mark task as completed */
.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    /* background-color: greenyellow; */
}
.task-completed{
    background-color : greenyellow;
}

.task-uncompleted{
    background-color : grey;
}
/* Css for Div to store task description */
.task{
    width: 90%;
    height: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    font-size: 24px;
}

.strike-off{
    text-decoration: line-through;
}

.remove-strike-off{
    text-decoration: none;
}

.task::-webkit-scrollbar {
    display: none;
  }

/* CSS for Delete Task Button */
.delete{
    outline: none;
    font-size: 25px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
